.image_card {
  width: 29%;
  border-radius: 15px;
  margin: 1.5%;
  border-style: solid;
  border-color: white;
  border-width: 4px;
}

.image_card:hover {
  cursor: pointer;
}

.playing {
  border-color: gold !important;
}
